In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [36]:
#Import the Non-League football CSV file containing teams, their league position, their promotion status and their twitter followers
football = pd.read_csv("football_data_final_edit.csv")
#Drop null rows which erroneously came with the CSV
football.drop([0,1], inplace=True)
#Drop null columns which erroneously came with the CSV
football.drop(["Unnamed: 25","Unnamed: 26","Unnamed: 27","Unnamed: 28"],inplace=True,axis=1)
#Since we dropped some rows, we need to reset the index of the dataframe
football = football.reset_index(drop=True)
#The column headings came from the CSV as the first row, redefine the headings correctly and strip any whitespace with lambda func
strip_whitespace = lambda x: x.strip() 
column_headings = list(map(strip_whitespace,list(football.iloc[0])))
football.columns = column_headings
#Remove the now un-needed dupiclate row containing the column headings and reset the index again.
football.drop([0],inplace=True)
football = football.reset_index(drop=True)
#Let's trim any whitespace from entries and column headings
football =football.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
football.head()

,Step,League,2021-22\nPosition,2021-22 Promoted,2022-23\nPosition,2022-23 Promoted,Teams,06.12.18,17.01.19,26.03.19,...,03.02.21,04.04.21,22.01.22,27.05.22,29.06.22,06.10.22,18.12.22,19.04.23,15.07.23,Gained between 19/4/23 & 29/6/22
0,0,League 2,2,NaN,1,NaN,Wrexham,"45,823","46,679","47,522",...,NaN,NaN,"111,870","134,144","137,138","198,011","279,085","443,120","532,387","395,598"
1,2,National League South,1,2,4,2,Aveley,"7,508","8,332","8,529",...,"10,490","10,512","11,122","11,511","11,600","11,830","11,950","12,261","12,812",661
2,0,Leauge 2,5,NaN,2,NaN,Notts County,"61,270","63,320","63,890",...,NaN,NaN,"79,071","82,260","83,153","85,896","87,850","93,214","102,257","29,324"
3,3,Isthmian Premier League,2,2,1,2,Chatham Town,NaN,NaN,"4,575",...,"6,350","6,475","7,476","7,998","8,153",NaN,"8,761","9,247","9,541","1,094"
4,3,Northern Premier Division,1,2,1,2,Macclesfield Town,NaN,NaN,"23,658",...,"27,832","28,617","38,189","40,507","40,923",NaN,"42,850","44,038","44,193","3,115"

In [51]:
#Sort values in dataframe by the step, then drop NaN values from league and step as these are not compatible with later analysis
football = football.sort_values(by=["Step"])
football.dropna(subset =["Step","League"],how="any",inplace=True)
#Reset the index based on the sorted table
football = football.reset_index(drop=True)
football

,Step,League,2021-22\nPosition,2021-22 Promoted,2022-23\nPosition,2022-23 Promoted,Teams,06.12.18,17.01.19,26.03.19,...,03.02.21,04.04.21,22.01.22,27.05.22,29.06.22,06.10.22,18.12.22,19.04.23,15.07.23,Gained between 19/4/23 & 29/6/22
0,0,League 2,6,NaN,NaN,NaN,Grimsby Town,NaN,NaN,NaN,...,NaN,NaN,"55,101","58,645",NaN,NaN,NaN,NaN,"70,210",0
1,0,Leauge 2,5,NaN,2,NaN,Notts County,"61,270","63,320","63,890",...,NaN,NaN,"79,071","82,260","83,153","85,896","87,850","93,214","102,257","29,324"
2,0,League 2,2,NaN,1,NaN,Wrexham,"45,823","46,679","47,522",...,NaN,NaN,"111,870","134,144","137,138","198,011","279,085","443,120","532,387","395,598"
3,0,League 2,1,NaN,NaN,NaN,Stockport County,"24,342","24,946","26,496",...,NaN,NaN,"40,333","45,709",NaN,NaN,NaN,NaN,"52,727","-26,496"
4,1,National League,5,2,19,1,York City,"48,997","49,196","49,552",...,"53,542","53,767","55,814","59,891","60,662","62,167","62,873","64,050","64,632","3,388"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,6,Northern League Div. Two,19,1,19,1,Washington,NaN,NaN,"4,097",...,"4,936",NaN,"5,285",NaN,"5,676",NaN,"5,838","5,965","5,990",289
940,6,Combined Counties League Div. One,6,1,9,1,Rising Ballers Kensington,NaN,NaN,632,...,"1,043",NaN,"1,389",NaN,"1,525",NaN,"1,582","1,598","1,633",73
941,6,Northern League Div. Two,20,0,4,1,Billingham Town,NaN,NaN,"7,079",...,"8,104","8,112","8,514",NaN,"8,872",NaN,"9,128","9,259","9,327",387
942,6,Northern League Div. Two,5,1,11,1,Easington Colliery,NaN,NaN,"2,016",...,"2,713",NaN,"3,255",NaN,"3,582",NaN,"3,728","3,803","3,867",221
943,6,Northern League Div. Two,10,1,7,1,Redcar Town,NaN,NaN,NaN,...,NaN,NaN,"2,373",NaN,"2,669",NaN,"2,906","3,042","3,241",373