In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.model_selection import KFold, train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import SGDClassifier

In [46]:
#Import the Non-League football CSV file containing teams, their league position, their promotion status and their twitter followers
football = pd.read_csv("football_data_final_edit.csv")
#Drop null rows which erroneously came with the CSV 
football.drop([0,1], inplace=True)
#Drop null columns which erroneously came with the CSV
football.drop(["Unnamed: 25","Unnamed: 26","Unnamed: 27","Unnamed: 28"],inplace=True,axis=1)
#Since we dropped some rows, we need to reset the index of the dataframe
football = football.reset_index(drop=True)
#The column headings came from the CSV as the first row, redefine the headings correctly and strip any whitespace with lambda func
strip_whitespace = lambda x: x.strip() 
column_headings = list(map(strip_whitespace,list(football.iloc[0])))
football.columns = column_headings
#Remove the now un-needed dupiclate row containing the column headings and reset the index again.
football.drop(football[football["Step"]=="0"].index,inplace=True)
football.drop([0],inplace=True)
football = football.reset_index(drop=True)
#Let's trim any whitespace from entries and column headings
football =football.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
football.head()
football["Positional Improvement"] = np.where(football["2022-23\nPosition"] < football["2021-22\nPosition"],
                                              np.where(football["2021-22 Promoted"] == 1, 1, np.where(football["2021-22 Promoted"] == 2, 1,0)), 
                                              np.where(football["2021-22 Promoted"] != 2 , 0, 1))
football

,Step,League,2021-22\nPosition,2021-22 Promoted,2022-23\nPosition,2022-23 Promoted,Teams,06.12.18,17.01.19,26.03.19,...,04.04.21,22.01.22,27.05.22,29.06.22,06.10.22,18.12.22,19.04.23,15.07.23,Gained between 19/4/23 & 29/6/22,Positional Improvement
0,2,National League South,1,2,4,2,Aveley,"7,508","8,332","8,529",...,"10,512","11,122","11,511","11,600","11,830","11,950","12,261","12,812",661,0
1,3,Isthmian Premier League,2,2,1,2,Chatham Town,NaN,NaN,"4,575",...,"6,475","7,476","7,998","8,153",NaN,"8,761","9,247","9,541","1,094",0
2,3,Northern Premier Division,1,2,1,2,Macclesfield Town,NaN,NaN,"23,658",...,"28,617","38,189","40,507","40,923",NaN,"42,850","44,038","44,193","3,115",0
3,3,Southern Premier Div. Central,1,2,4,2,Long Eaton United,NaN,NaN,"4,419",...,"5,666","6,229","6,591","6,648",NaN,"7,022","7,233","7,609",585,0
4,3,Southern Premier Div. South,2,2,2,2,Walton & Hersham,NaN,NaN,"4,369",...,"5,621","7,110","8,197","8,330",NaN,"10,032","10,948","12,746","2,618",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,7,NaN,19,NaN,20,NaN,Rocester,NaN,NaN,"3,317",...,NaN,"4,386",NaN,"4,579",NaN,"4,711","4,827",NaN,"1,510",0
1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1004,7,NaN,14,NaN,20,NaN,Thame United Reserves,NaN,NaN,223,...,NaN,226,NaN,518,NaN,534,545,NaN,322,0
1005,7,NaN,11,NaN,NaN,NaN,Walton Casuals - dissolved,"4,513","4,637","4,819",...,"5,873","6,823","7,032","7,082","6,998","6,955","6,862",NaN,"2,043",0
1006,7,NaN,14,NaN,21,NaN,Willington,NaN,NaN,"3,378",...,NaN,"4,701",NaN,"4,965",NaN,"5,182","5,269",NaN,"1,891",0

In [44]:
sliced_dataframe = football.loc[:,["2021-22\nPosition","2021-22 Promoted","2022-23\nPosition"]]
for i in range(0,len(football)+1):
    if football.iloc[i]["2021-22\nPosition"]

'4'

In [ ]:
#Drop rows which are step 0 as these aren't non-league teams.
football = football.sort_values(by=["Step"])
#Sort values in dataframe by the step, then drop NaN values from league and step as these are not compatible with later analysis
football.dropna(subset =["Step","League","Gained between 19/4/23 & 29/6/22"],how="any",inplace=True)
#Reset the index based on the sorted table
football = football.reset_index(drop=True)
#Remove commas from dataframe values
football = football.replace(",","",regex=True)
#print table
football

In [3]:
#Turn our features and targets into int64's.
football["Gained between 19/4/23 & 29/6/22"] = football["Gained between 19/4/23 & 29/6/22"].apply(pd.to_numeric)
football["2022-23 Promoted"] = football["2022-23 Promoted"].apply(pd.to_numeric)
#Define features as x and targets as y. 
x = np.array(football["Gained between 19/4/23 & 29/6/22"])
y = np.array(football["2022-23 Promoted"])
#Perform a train test split, 80% train and 20% test
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=13)

NameError: name 'football' is not defined

In [4]:
pipeline = Pipeline([("transform",StandardScaler()),("classifier",SGDClassifier())])

pipeline.fit(x_train.reshape(-1,1),y_train)
pipeline.predict(x_test.reshape(-1,1))
pipeline.score(x_test.reshape(-1,1),y_test)
np.unique(y_test,return_counts=True)
#Doing this method with club promotions as the classification label and the followers gained as the feature predicts that all clubs will remain in their league as promotions/demotions are comparitively rare so the model scores highly despite predicting every club as in the same league.

NameError: name 'x_train' is not defined